## Lists

List is a mutable data structure which contains an ordered collection of different data types e.g. list of numbers, strings, booleans or list of lists. You can store any sequence of comma , separated items in a list by enclosing them in square brackets []. As it's a mutable data type (i.e., it can be altered) so you can add, remove, modify and being ordered you can search and index for items in the list.

In [5]:
  # list of fruits
  list_of_fruits = ["apple", "orange", "banana", "grapes", "appricot"]

In [6]:
print(list_of_fruits)

['apple', 'orange', 'banana', 'grapes', 'appricot']

In [19]:
print("First two items", list_of_fruits[0:2])
print("Third item", list_of_fruits[2])
print("Last item", list_of_fruits[-1])
print("Slicing items", list_of_fruits[2:4])

First two items ['apple', 'orange']
Third item plums
Last item appricot
Slicing items ['plums', 'banana']

In [7]:
# adding more fruits to the list
list_of_fruits.append("pears")
print("Adding pears using append()", list_of_fruits)

list_of_fruits.extend(["mangoes"])
print("Adding mangoes using extend()", list_of_fruits)

['apple', 'orange', 'banana', 'grapes', 'appricot', 'pears']
['apple', 'orange', 'banana', 'grapes', 'appricot', 'pears', 'mangoes']

In [10]:
# list of number
list_of_number = [1,2,3,4]
print("list of number", list_of_number)

# adding 5 to the list
list_of_number.append(5)
print("Added new item", list_of_number)

# adding 6 to the list
list_of_number.extend(6)
print("Added new item", list_of_number)

list of number [1, 2, 3, 4]
Added new item [1, 2, 3, 4, 5]

TypeError: ignored

In [11]:
# adding list to the list
list_of_number.append([6,7,8,9])
print("Added new items", list_of_number)

# adding list to the list
list_of_number.extend([10,11,12,13])
print("Added new items", list_of_number)

Added new items [1, 2, 3, 4, 5, [6, 7, 8, 9]]
Added new items [1, 2, 3, 4, 5, [6, 7, 8, 9], 10, 11, 12, 13]

In [15]:
# add plums to the second place
list_of_fruits.insert(1, "plums")
print("Plums added to the second place", list_of_fruits)

Plums added to the second place ['apple', 'plums', 'orange', 'plums', 'banana', 'grapes', 'appricot', 'pears', 'mangoes']

In [18]:
# removing item form the list

# add a wrong item in the list
list_of_fruits.append("onion")
print("List of fruits", list_of_fruits)

# removing onion from the list using remove
list_of_fruits.remove("onion")
print("List of fruits", list_of_fruits)

# removing mangoes from the list using pop
list_of_fruits.pop()
print("List of fruits", list_of_fruits)

# removing plums using the del
del list_of_fruits[1]
print("List of fruits", list_of_fruits)

List of fruits ['apple', 'plums', 'orange', 'plums', 'banana', 'grapes', 'appricot', 'pears', 'onion']
List of fruits ['apple', 'plums', 'orange', 'plums', 'banana', 'grapes', 'appricot', 'pears']
List of fruits ['apple', 'plums', 'orange', 'plums', 'banana', 'grapes', 'appricot']
List of fruits ['apple', 'orange', 'plums', 'banana', 'grapes', 'appricot']

In [20]:
list_of_number.clear()
print(list_of_number)

[]

In [22]:
# list of list and mmixed types
list_of_student = [["Alex", 4, "M"], ["Ben", 3, "M"], ["Emily", 3, "F"]]
print("List of students", list_of_student)

List of students [['Alex', 4, 'M'], ['Ben', 3, 'M'], ['Emily', 3, 'F']]

In [25]:
# looping over the lists
for student in list_of_student:
  print("Name:", student[0], "Age:", student[1], "Gender:", student[2])

Name: Alex Age: 4 Gender: M
Name: Ben Age: 3 Gender: M
Name: Emily Age: 3 Gender: F

In [26]:
# looping over the lists with index
for idx, student in enumerate(list_of_student):
  print("idx", idx, "Name:", student[0], "Age:", student[1], "Gender:", student[2])

idx 0 Name: Alex Age: 4 Gender: M
idx 1 Name: Ben Age: 3 Gender: M
idx 2 Name: Emily Age: 3 Gender: F

In [29]:
# concatinate two lists
list_a = [1, 2, 3]
list_b = [4, 5, 6]

list_c = list_a + list_b + list_of_fruits

print("combined list", list_c)

combined list [1, 2, 3, 4, 5, 6, 'apple', 'orange', 'plums', 'banana', 'grapes', 'appricot']

In [30]:
# replicated list

list_of_10_a = ['a'] * 10
print("list of a's", list_of_10_a)

list of a's ['a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a']

In [31]:
# len of the list
print('length of the list is ', len(list_of_10_a))

length of the list is  10

In [32]:
# converting itreable to list

list_of_number = list(range(20))
print("First 20 whole numbers", list_of_number)

First 20 whole numbers [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]