Exploring attributes of an Object:

1.   Id with function `id()`
2.   Type with function `type()`
3.   Value with simple reference of vaiable

In [18]:
# declare a variable 
a = 5

# print the id or mmemory reference of the value
print("ID:",id(a))

# print the type of the variable
print("Type:",type(a))

# print the value of the variable
print("Value:",a)

ID: 10914624
Type: <class 'int'>
Value: 5

In [19]:
# changing the value of `a` to 10
a = 10

# print the id or mmemory reference of the value
print("ID:",id(a))

# print the type of the variable
print("Type:",type(a))

# print the value of the variable
print("Value:",a)

ID: 10914784
Type: <class 'int'>
Value: 10

In [20]:
# whole number represented as integers

# positive number
positive_number = 5
print("Positive Number:", positive_number)
print("Type:",type(positive_number))

# negative number
negative_number = -3
print("Negative Number:", negative_number)
print("Type:",type(negative_number))

# zero value
zero_number = 0
print("Zero Value:", zero_number)
print("Type:",type(zero_number))

# very large number
large_number = 9999999999999999999999999999999999999
print("Large Number:", large_number)
print("Type:",type(large_number))

Positive Number: 5
Type: <class 'int'>
Negative Number: -3
Type: <class 'int'>
Zero Value: 0
Type: <class 'int'>
Large Number: 9999999999999999999999999999999999999
Type: <class 'int'>

In [21]:
# rational number represented as floats

# positive float number
positive_number = 5.5
print("Positive Number:", positive_number)
print("Type:",type(positive_number))

# negative float number
negative_number = -3.5
print("Negative Number:", negative_number)
print("Type:",type(negative_number))

# zero value
zero_number = 0.5
print("Zero Value:", zero_number)
print("Type:",type(zero_number))

# very large float number
large_number = 9999999999999999999999999999999999999.0
print("Large Number:", large_number)
print("Type:",type(large_number))

output = "{:.1f}".format(large_number)
print(output)

Positive Number: 5.5
Type: <class 'float'>
Negative Number: -3.5
Type: <class 'float'>
Zero Value: 0.5
Type: <class 'float'>
Large Number: 1e+37
Type: <class 'float'>
9999999999999999538762658202121142272.0

In [22]:
# string are used to represent the textual data

# string using single quotes
single_quotes_string = 'saad'
print("Single Quotes:", single_quotes_string)
print("Type:",type(single_quotes_string))

# string using the double quotes
double_quotes_string = "saad"
print("Double Quotes:", double_quotes_string)
print("Type:",type(double_quotes_string))

# string using the triple quotes single quotes
triple_single_quotes_string = '''saad'''
print("Triple Quotes:", triple_single_quotes_string)
print("Type:",type(triple_single_quotes_string))

Single Quotes: saad
Type: <class 'str'>
Double Quotes: saad
Type: <class 'str'>
Triple Quotes: saad
Type: <class 'str'>

In [23]:
# boolean used for representing the truth values

# bool showing true
is_present = True
print("Is present:", is_present)
print("Type:",type(is_present))

# bool showing false
is_available = False
print("Is available:", is_available)
print("Type:",type(is_available))

Is present: True
Type: <class 'bool'>
Is available: False
Type: <class 'bool'>

In [24]:
# complex numbers are represented using real and imaginary part

# complex number
complex_number = 3 + 4j
print("Complex Number:", complex_number)
print("Type", type(complex_number))

Complexx Number: (3+4j)
Type <class 'complex'>